#
# .gitignore
#

## GENERIC ##
*~
*.bak


## PYTHON ##
*.pyc
*.pyo


## PROJECT ##
eyefiserver.conf
etc/eyefiserver.conf


## TMP ##
/tmp
/usr/local/bin/eyefiserver.py.orig
/qpkg/build
/qpkg/config
/qpkg/shared
